<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALMAVC6Tw2Y9Livcum__CTHMogyrUsQNo</string>
	<key>GCM_SENDER_ID</key>
	<string>1088706884636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.officialmemby.madhyayuga</string>
	<key>PROJECT_ID</key>
	<string>madhyayuga-187df</string>
	<key>STORAGE_BUCKET</key>
	<string>madhyayuga-187df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088706884636:ios:a480ed1e2ffdff49589bd9</string>
</dict>
</plist>